/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
.card-style-2 {
    background-color: white;
    border-radius: 24px;
    width: 350px;
    padding: 40px;
}

.card-style-2 img {
    width: 50%;
    border-radius: 50%;
}

.animagram-footer {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.brand-name {
    font-size: 30px;
}

.animagram-footer span {
    margin: 12px;
}

.animagram-header span {
    display:
}