/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

#license{
    border: solid;
    border-radius: 24px;
    display: inline-block;
    background-color: #e1955e;

}
#left-side{
    display:inline-block;
}
#right-side{
    display: inline-block;
    width: 250px;

}
h1{
    color: navy;
    margin-left: 15px;
    font-size: 50px;
    margin-bottom: -20px;
    margin-top: 15px;

}
h4{
    background-color: navy;
    color: white;
    font-family: sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
}
#id-and-expiration{
    color: navy;
    font-family: sans-serif;
    margin-left: 15px;
    margin-top: -15px;
}
#id-and-expiration span{
    color: red;
    font-weight: bold;
    display: inline-block;

}

div #id-and-expiration div{
display: inline-block;
}

#address{
    font-weight: bold;
    font-family: sans-serif;
    margin-left: 15px;
    margin-top: 12px;
    margin-bottom: -20px;
}
#data-fields{
    color: navy;
    font-family: sans-serif;
    display: inline-block;
    transform: translate(-30px);
}
#data-left{
    color: navy;
    display: inline-block;
    padding-bottom: 40px;
    font-size: 12px;
    margin-right: 12px;
    margin-left: -12px;
   
}
#data-right{
    color: navy;
    display: inline-block;
    font-size: 12px;
}
#data-left span{
    color: red
}
#data-right span{
    color: red;
}
#donor{
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
}
#real-id{
    color: white;
    display: inline-block;
    background-color: rgb(255, 203, 70);
    border-radius: 50%;
}
#donor-and-real-id{
    display: inline-block;
    transform: translateX(-70px) translateY(-10px);
}
#small-pic{
   transform: scale(.5)translateX(-30px);
   opacity: 0.4;
 display: inline-block;
}
#right-side img{
 transform: scale(1.75) translateX(30px) translateY(-50px);
}
#signature{
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: black;
    transform: translateY(-40px)translateX(-10px);
}
