* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "header header header"
        "picture main sidebar";
}

#header{
    grid-area: header;
    padding: 0px 36px;
    text-align: center;
    border-bottom: solid 5px pink;
}

#header a{
    text-decoration: none;
}

#header #m{
    color: #FF8FAB;
}

#header #e{
    color: #F6A6BB;
}

#header #b{
    color: #F4BBC9;
}

#header #a{
    color: #FFB3C6;
}

#header #y{
    color: #FFC2D1;
}

#picture img {
    padding-top: 70px;
}

#sidebar {
    grid-area: sidebar;
    padding: 0px 24px;
    padding-top: 50px;
}

#side1{
    padding: 12px 0px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 5px pink;
    border-radius: 24px;
}

#side2{
    padding: 12px 0px;
    margin: 0px;
    border: solid 5px pink;
    border-radius: 24px;
    margin-top: 24px;
    padding-left: 20px;
}

#side2 a{
    padding: 12px;
    display: block;
    
}

#side2 li{
    list-style: none;
}




#main{
    grid-area: main;
    padding: 40px;
}

#main h2{
    border-bottom: solid 1px;
    padding-bottom: 25px;
}

#button,
#button2,
#button3 {
    border: solid 1px pink;
    text-align: center;
    border-radius: 24px;
    background-color: pink;
    margin-top: 12px;
}