* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #865b9d;
    font-family: 'caffe_lungo_demoregular';
}

#navbar {
    display: flex;
    background-color: #edbcd1;
    align-items: center;
    border-bottom: solid 50px #b8427d;
    
}

#navbar .dropdown-menu {
    display: flex;
}

#navbar a {
    text-decoration: none;
    color: #b8427d;
    padding: 24px;
    margin: 0px;
}

#navbar img {
    width: 200px;
}

#navbar #logo-link {
    margin: 0px;
    padding: 0px;
    margin-right: auto;
    display: inline-block;
}

#navbar #logo-link2 {
    margin: 0px;
    padding: 0px;
    margin-right: auto;
    display: none;   
}


.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#navbar .icon img {
    width: 50px;
}

#hero {
    background-image: url("../images/eve-lyn-j6ZC1cds9a4-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#hero .hero-content {
    text-align: center;
}

#hero a {
    display: inline-block;
    background-color: #b8427d;
    color: #fffdfd;
    text-decoration: none;
    padding: 24px;
    border-radius: 24px;

}

.hero-content img {
    width: 100%;
}



.menutop {
    font-size: 50px;
    font-family: 'caffe_lungo_demoregular'; 
    text-align: center;
    color: #edbcd1;
}

#layout h2 {
    margin: 35px;
    color: #edbcd1;
}

.menutop h1 {
    margin: 0px;
    padding: 0px;
}


#layout {
    text-align: center;
    border-bottom: solid 10px #b8427d;
}

#layout .hero-content img {
    background-position: center center;
    margin-bottom: 30px;
}

#lowbar img {
    width: 200px;
    margin: 0px;
    padding: 0px;
    margin-right: auto;
    display: inline-block;
   
}

#header {
    position: sticky;
    top: 0px;
}

@font-face {
    font-family: 'caffe_lungo_demoregular';
    src: url('caffelungodemo-webfont.woff2') format('woff2'),
         url('caffelungodemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 24px;
    margin-top: 24px;
}

.item {
    margin: 24px;
    text-align: center;
    color: #edbcd1;
}

.item h2 {
    font-size: 45px;
    margin: 0px;
    padding: 0px;
}

.item p {
    font-style: italic;
}



@media screen and (max-width: 800px) {

    #navbar #logo-link {
        display: none;
    }

    #navbar #logo-link2 {
        display: flex;
        align-items: center;

    }


    #layout .hero-content img {
        width: 100%;

    }


    .dropdown-menu .icon img {
        visibility: hidden;

    }
    
    #navbar a {
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        color: #b8427d;
        padding: 24px;
    }
    
    #navbar #logo-link2 {
        margin-right: auto;
        font-size: 36px;
        padding-top: 13px;
        padding-bottom: 12px;
    }

    #menu-items {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 24px;
        margin-top: 24px;
    }
    
}