* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #724591;
}

#navbar {
    display: flex;
    background-color: #e9a3bb;
    align-items: center;
    border-bottom: solid 50px #b5216c;
    
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    margin: 0px;
}

#navbar img {
    width: 200px;
}

#navbar #logo-link {
    margin: 0px;
    padding: 0px;
    margin-right: auto;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'caffe_lungo_demoregular';
}

#navbar .icon img {
    width: 50px;
}

#hero-4 {
    background-image: url("../images/eve-lyn-j6ZC1cds9a4-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#hero-4 .hero-content {
    color: white;
    padding-top: 20vh;
    text-align: center;
}

#hero-4 a {
    display: inline-block;
    background-color: #b5216c;
    color: #333333;
    text-decoration: none;
    padding: 24px;
    font-size: 1.5vw;

}



.menutop {
    margin: 0px;
    padding: 0px;
    font-size: 50px;
    font-family: 'caffe_lungo_demoregular'; 
    text-align: center;

}

#layout {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: larger;
    border-bottom: solid 1px #b5216c;
}

#layout .hero-content {
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}



#header {
    position: sticky;
    top: 0px;
}
@font-face {
    font-family: 'caffe_lungo_demoregular';
    src: url('caffelungodemo-webfont.woff2') format('woff2'),
         url('caffelungodemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#menu-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 24px;
    margin-top: 24px;
}

.item {
    margin: 24px;
}

.item h2 {
    font-family: caffe_lungo_demoregular;
    font-size: 45px;
    margin: 0px;
    padding: 0px;
}

.item p {
    font-style: italic;
}


@media screen and (max-width:1000px) and (min-width: 801px){
}

@media screen and (max-width: 800px) {
    #navbar .icon img {
        display: none;
    }
    
    
}