/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block{
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display:inline-block;
}
.pink{
    background-color: rgb(125, 35, 59);
    border-color: rgb(255, 123, 159);
}

.bubblegum {
    background-color: rgb(255, 118, 193);
    border-color: rgb(155, 109, 145);
}

.brightred{
    background-color: rgb(246, 66, 78);
    border-color: rgb(115, 0, 13);
}

.red{
    background-color: rgb(161, 97, 97);
    border-color: rgb(108, 20, 20);
}
.blank{
background-color: black;
border-color: black;
}