* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: #653716;
}

#layout {
    max-width: 800px;
    margin: 48px auto;
}

.horizontal-masonry-header {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.horizontal-masonry-header img {
    width: 50px;
    height: 500px;
    flex: 1;
    position: center;
    object-fit: cover;
    margin: 24px;
    border-radius: 24px;
}


.horizontal-masonry-header .hero-content {
    position: absolute;
    left: 30%;
    top: 20%;
    padding: 24px;
    border-radius: 24px;
    color: white;
    border: solid 5px #422917;
    background-color: #653716;
}

#center-column {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    margin: 36px;
}

.card {
    width: 350px;
    border: 2px solid #422917;
    background-color: #7e4c29;
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 4px 4px 12px #2b1b0f;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.card h2 {
    font-size: 40px;
    margin-top: 12px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.card a {
    color: #87479A;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #472463;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #261237;
}

.card a:hover {
    border: 3px solid;
    color: rgb(152, 5, 175);
    transition: 
    background-color 0.5s,
    color 0.5s;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 24px;
    gap: 4px;
}

.basic-grid-gallery img {
    width: 100%;
}

.second-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 4px;
}

.second-grid-gallery img {
    width: 100%;
}

.third-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 4px;
    width: 550px;

}

.third-grid-gallery img {
    width: 100%;
}

